.forgotPasswordContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}

.forgotPasswordBox {
  background-color: #28a745;
  width: 50vh;
  height: 60vh;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  padding: 2vmax;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.forgotPasswordBox h2 {
  color: white;
  font: 300 2vmax "Roboto";
  text-align: center;
  margin-bottom: 2vmax;
}

.forgotPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.forgotPasswordName,
.forgotPasswordEmail {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  margin-bottom: 1.5vmax;
}

.forgotPasswordName input,
.forgotPasswordEmail input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 4px;
  font: 300 0.9vmax cursive;
  outline: none;
}

.forgotPasswordName svg,
.forgotPasswordEmail svg {
  position: absolute;
  left: 1vmax;
  font-size: 1.5vmax;
  color: white;
}

.forgotPasswordBtn {
  border: none;
  background-color: grey;
  color: white;
  font: 300 0.9vmax "Roboto";
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px black;
}

.forgotPasswordBtn:hover {
  background-color: brown;
}

@media only screen and (max-width: 768px) {
  .forgotPasswordBox {
    width: 80vw;
    height: 70vh;
  }

  .forgotPasswordBox h2 {
    font: 300 3vmax "Roboto";
  }

  .forgotPasswordName input,
  .forgotPasswordEmail input {
    padding: 2vmax 8vmax;
    padding-right: 2vmax;
    font: 300 2vmax cursive;
  }

  .forgotPasswordName svg,
  .forgotPasswordEmail svg {
    left: 2vmax;
    font-size: 3vmax;
  }

  .forgotPasswordBtn {
    font: 300 2vmax "Roboto";
    padding: 2vmax;
  }
}
